<div *ngIf="filters && filters.length > 0">
  <mat-form-field *ngFor="let filter of filters" style="margin-left: 15px">
    <mat-label class="mr-1">{{ filter.headerName | translate }}</mat-label>
    <mat-select
      *ngIf="filter.filterable"
      id="{{ filter.filterable.queryParamName }}"
      [(value)]="filter.filterable.filterValue"
      (selectionChange)="filterChange(filter, $event)"
    >
      <mat-option value="">{{ "GENERAL_SELECT" | translate }}</mat-option>
      <mat-option
        [value]="item.value"
        *ngFor="let item of filter.filterable.options$ | async"
      >
        {{ item.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
