<div class="container admin-page">
  <div class="row">
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <p>{{ title | translate }}</p>
          </div>
          <div class="body">
            <form  [formGroup]="docForm" class="row" (ngSubmit)="onSubmit()">
              <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <mat-form-field class="example-full-width " appearance="outline">
                  <mat-label>{{ "general_name" | translate }}</mat-label>
                  <input type="text" matInput formControlName="name" required />
                  <mat-error *ngIf="docForm.controls['name']?.errors?.['normalized']">
                    {{ "forms_value_validation_normalization_error" | translate }}
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                <mat-form-field class="example-full-width " appearance="outline">
                  <mat-label>{{
                    "specialities_consultation_duration"
                    | translate
                    }}</mat-label>
                  <input type="number" matInput formControlName="consultationDurationInMinutes" required />
                </mat-form-field>
              </div>
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <mat-form-field class="example-full-width text-area" appearance="outline">
                  <mat-label>{{ "general_description" | translate }}
                  </mat-label>
                  <textarea matInput formControlName="description" [maxLength]="5000" cols="20" ></textarea>
                </mat-form-field>
              </div>

              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <button class="mr-3" [disabled]="!docForm.valid" mat-raised-button color="primary">
                  {{ "general_add" | translate }}
                </button>
                <button type="button" mat-button (click)="onCancel()">
                  {{ "general_cancel" | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>