<section class="department-area section-padding4">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-top text-center">
          <h2>Popular department</h2>
          <p>
            Green above he cattle god saw day multiply under fill in the cattle
            fowl a all, living, tree word link available in the service for
            subdue fruit.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <owl-carousel-o [options]="customOptions" class="department-slider">
          <ng-template carouselSlide *ngFor="let specility of specialities">
            <div class="single-slide">
              <div class="slide-img">
                <img src="{{ specility.imagePath }}" alt="" class="img-fluid" />
                <div class="hover-state">
                  <a href="#"><i class="fa fa-stethoscope"></i></a>
                </div>
              </div>
              <div class="single-department item-padding text-center">
                <h3>{{ specility.title }}</h3>
                <p>{{ specility.description }}</p>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
