<header class="header-area" *ngIf="contactInformation">
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-9 d-md-flex">
          <h6 class="me-3">
            <span class="me-2"><i class="fa fa-mobile"></i></span>
            {{ "contact_call_now" | translate }}!
            <a href="tel:{{ contactInformation?.phoneNumber }}">{{ contactInformation?.phoneNumber }}</a>
          </h6>
          <h6 class="me-3">
            <span class="me-2"><i class="fa fa-envelope-o"></i></span>
            <a href="mailto:{{ contactInformation?.email }}">
            {{ contactInformation?.email }}
            </a>
          </h6>
          <h6>
            <span class="me-2"><i class="fa fa-map-marker"></i></span>
            {{ "contact_find_location" | translate }}
          </h6>
        </div>
        <div class="col-lg-3">
          <div class="social-links">
            <ul>
              <li>
                <a href="#"><i class="fa fa-facebook"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-linkedin"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-instagram"></i></a>
              </li>
              <li>
                <a href="#"><i class="fa fa-vimeo"></i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="header" class="navbar navbar-expand-lg">
    <div class="container">
      <div class="row align-items-center justify-content-between d-flex">
        <div id="logo" class="navbar-brand">
          <a href="index.html" class="img img-responsive"
            ><img src="assets/images/logo/logo.svg" alt="" title=""
          /></a>
        </div>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#nav-menu-container"
          aria-controls="nav-menu-container"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <nav id="nav-menu-container">
          <ul class="nav-menu navbar-nav flex-row align-items-center ms-auto">
            <li *ngFor="let link of links" [class.active]="menu === link.moduleName"
              [class]="hasSubmenu(link) ? 'nav-item navbar-dropdown dropdown-user dropdown' : 'nav-item'">
              <ng-container *ngIf="link.submenu?.length === 0">
                <a [href]="link.path" class="nav-link">
                  {{ link.title | translate }}</a>
              </ng-container>
              <ng-container *ngIf="link.submenu.length > 0">
                <a class="nav-link " data-bs-toggle="dropdown" aria-expanded="false">
                  {{ link.title | translate }}
                </a>
                <ul *ngIf="link.submenu.length > 0" class="dropdown-menu">
                  <li *ngFor="let sublink of link.submenu" class="dropdown-item">
                    <a [href]="sublink.path">{{ sublink.title | translate }}</a>
                  </li>
                </ul>
              </ng-container>
            </li>
            <li class="nav-item navbar-dropdown dropdown-user dropdown" *ngIf="activeUser">
              <a class="nav-link "  data-bs-toggle="dropdown" aria-expanded="false">
                <div class="avatar avatar-online">
                  <img src="../../../../assets/images/1.png" alt="" class="w-px-35 h-auto rounded-circle">
                </div>
              </a>
              <ul class="dropdown-menu dropdown-menu-end">
                <li>
                  <a class="dropdown-item" href="#">
                    <div class="d-flex">
                      <div class="flex-shrink-0 me-3">
                        <div class="avatar avatar-online">
                          <img src="../../../../assets/images/1.png" alt="" class="w-px-35 h-auto rounded-circle">
                        </div>
                      </div>
                      <div class="flex-grow-1">
                        <span class="fw-semibold d-block">{{activeUser.lastName}} {{activeUser.firstName}}</span>
                        <small class="text-muted">{{getRoles(activeUser)}}</small>
                      </div>
                    </div>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="bx bx-user me-2"></i>
                    <span class="align-middle">Profilul meu</span>
                  </a>
                </li>
                <li>
                  <a class="dropdown-item" href="#">
                    <i class="bx bx-cog me-2"></i>
                    <span class="align-middle">Setari</span>
                  </a>
                </li>
                <li>
                  <div class="dropdown-divider"></div>
                </li>
                <li>
                  <a class="dropdown-item" (click)="logout()">
                    <i class="bx bx-power-off me-2"></i>
                    <span class="align-middle">Iesi din cont</span>
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
