<section class="welcome-area section-padding">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 align-self-center">
        <div class="welcome-img">
          <img src="assets/images/welcome.png" alt="" />
        </div>
      </div>
      <div class="col-lg-7">
        <div class="welcome-text mt-5 mt-lg-0">
          <h2>{{ "appointment_welcome_title" | translate }}</h2>
          <p class="pt-3">
            {{ "appointment_welcome_message_1" | translate }}
          </p>
          <p>
            {{ "appointment_welcome_message_2" | translate }}
          </p>
          <a href="#" class="template-btn mt-3">
            {{ "appointment_learn_more" | translate }}</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
