@import "../src/styling/variable";
@import "../src/styling/base";
@import "../src/styling/btn";
@import "../src/styling/form";
@import "../src/styling/other";
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
@import "ngx-toastr/toastr";
@import "ngx-toastr/toastr-bs5-alert";
@import "assets/plugins/scss/_tables.scss";
@import "assets/plugins/scss/_card.scss";
@import "assets/plugins/scss/_modals.scss";
@import "assets/plugins/scss/_alerts.scss";
@import "assets/plugins/scss/_badgelistgroupitem.scss";
@import "assets/plugins/scss/_buttons.scss";
@import "assets/plugins/scss/_collapse.scss";
@import "assets/plugins/scss/_dialogs.scss";
@import "assets/plugins/scss/_mediaobject.scss";
@import "assets/plugins/scss/_panels.scss";

body {
  color: $body-text;
  font-family: $body-font;
  font-size: 15px;
  font-weight: 400;
}

h1 {
  color: $heading-text;
  font-family: $heading-font;
  font-size: 45px !important;
  font-weight: 700;
}
h2 {
  color: $heading-text;
  font-family: $heading-font;
  font-size: 36px !important;
  font-weight: 700;
}
h3 {
  color: $heading-text;
  font-family: $heading-font;
  font-size: 18px !important;
  font-weight: 700;
  text-transform: uppercase;
}
h4 {
  color: $heading-text;
  font-family: $heading-font;
  font-size: 16px !important;
  font-weight: 400;
}
h5 {
  color: $body-text;
  font-family: $body-font;
  text-transform: capitalize;
  font-size: 14px !important;
  font-weight: 400;
}
h6 {
  color: $body-text;
  font-size: 12px !important;
  font-family: $body-font;
  text-transform: uppercase;
  font-weight: 500;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a:hover,
a:focus {
  text-decoration: none;
}
input:focus,
textarea:focus {
  outline: none;
}

.template-btn {
  color: #fff;
  background: linear-gradient(to right, #244cfd, #15e4fd);
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  display: inline-block;
  padding: 12px 30px !important;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.into-icon i {
  font-size: 20px;
  color: #244cfd;
  margin-right: 20px;
}

.section-padding {
  padding: 130px 0;
}
.item-padding {
  padding: 40px 20px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field {
  border-radius: 0%;
  width: 100%;
  margin-top: 5px;
  font: inherit !important;
  letter-spacing: inherit !important;
  text-decoration: inherit !important;
  text-transform: inherit !important;
  &:not(.text-area){
    .mat-mdc-text-field-wrapper {
      padding-left: 0%;
      background-color: #fff !important;
      &:hover,
      &:focus,
      &:active {
        background-color: #fff;
      }
      border-radius: 0%;
      .mat-mdc-form-field-flex {
        height: 44px;
        .mat-mdc-form-field-infix {
          padding: 0 0 !important;
          max-height: 44px;
          input {
            height: 44px !important;
            padding-left: 10px;
          }
        }
      }
    }
  }

}
.mdc-floating-label {
  font-size: 14px !important;
  margin: auto;
}
.mdc-text-field--outlined {
  --mdc-outlined-text-field-container-shape: 0px !important;
}
label {
  top: 50% !important;
}
.admin-page {
  margin: 150px auto 20px auto;
}
