<section class="patient-area section-padding3">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 offset-lg-3">
        <div class="section-top text-center">
          <h2>Patient are saying</h2>
          <p>
            Green above he cattle god saw day multiply under fill in the cattle
            fowl a all, living, tree word link available in the service for
            subdue fruit.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-5">
        <div class="single-patient mb-4">
          <img src="assets/images/patient1.png" alt="" />
          <h3>daren jhonson</h3>
          <h5>hp specialist</h5>
          <p class="pt-3">
            Elementum libero hac leo integer. Risus hac road parturient feugiat.
            Litora cursus hendrerit bib elit Tempus inceptos posuere metus.
          </p>
        </div>
        <div class="single-patient">
          <img src="assets/images/patient2.png" alt="" />
          <h3>black heiden</h3>
          <h5>hp specialist</h5>
          <p class="pt-3">
            Elementum libero hac leo integer. Risus hac road parturient feugiat.
            Litora cursus hendrerit bib elit Tempus inceptos posuere metus.
          </p>
        </div>
      </div>
      <div class="col-lg-5 offset-lg-1 align-self-center">
        <div class="appointment-form text-center mt-5 mt-lg-0">
          <h3 class="mb-5">{{ "appointment_schedule_now" | translate }}</h3>
          <form [formGroup]="docForm">
            <mat-form-field class="example-full-width" appearance="fill" >
              <mat-label>{{ 'forms_enter_name' | translate }}
              </mat-label>
              <input matInput formControlName="name" required />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{ 'forms_enter_phone_number' | translate }}
              </mat-label>
              <input matInput formControlName="phoneNumber" required />
            </mat-form-field>
            <mat-form-field class="example-full-width" appearance="fill">
              <mat-label>{{ 'forms_enter_email' | translate }}</mat-label>
              <input matInput formControlName="email" required />
              <mat-error *ngIf="docForm.get('email')?.hasError('email') && docForm.get('email')?.touched">
                {{ 'forms_email_validation_invalid' | translate }}
              </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
              <mat-select formControlName="specialityId" *ngIf="specialities" placeholder = "{{ 'specialities_single_name' | translate }} *" required (selectionChange)="getMedics($event.value)" >
                  <mat-option *ngFor="let speciality of specialities" [value]="speciality.id" required>
                      {{speciality.name}}
                  </mat-option>
              </mat-select>
          </mat-form-field>
          <mat-form-field class="example-full-width" *ngIf="medics">
            <mat-select formControlName="medicId" placeholder="{{ 'medics_single_name' | translate }} *" required>
                <mat-option *ngFor="let medic of medics" [value]="medic.id" required>
                    {{medic.lastName}} {{medic.firstName}}
                </mat-option>
            </mat-select>
        </mat-form-field>
              <mat-form-field *ngIf="docForm.get('medicId')?.value" class="example-full-width" appearance="fill">
                <input matInput [matDatepicker]="scheduleDatePicker" [min]="today" formControlName="date" required />
                <mat-datepicker-toggle matSuffix [for]="scheduleDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #scheduleDatePicker></mat-datepicker>
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill" class="text-area">

                <textarea class="description" matInput formControlName="message"
                    [maxLength]="5000" placeholder="{{ 'forms_enter_message' | translate }}"></textarea>
            </mat-form-field>
            <button class="template-btn" (click)="createAppointment()" [disabled]="docForm.invalid && docForm.touched">
              {{ "appointment_schedule_now" | translate }}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>